---
import { siteConfig } from "../../config/siteConfig";
import MainLayout from "../../layouts/MainLayout.astro";
import "../../styles/global.css";
import AuthorCard from "../../components/AuthorCard.astro";
import { getCollection } from "astro:content";

const authorPosts = await getCollection('author');
---
<MainLayout  title="Listado de autores">
    <section class="bg-gray-900">
        <a class="text-blue-500" href="/">Regresar</a>
        <h1 class="mb-4 text-3xl font-semibold capitalize lg:text-4xl text-white">{siteConfig.title}</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            {
                authorPosts.map((author) => <AuthorCard author = {author} />)
            }  
        </div>
    </section>
</MainLayout>