html {
  background-color: #1a202c; /* Tailwind bg-gray-900 */
  padding-left: 2.5rem;      /* Tailwind px-10 */
  padding-right: 2.5rem;
  scroll-behavior: smooth;
}
body {
  margin-top: 2.5rem; /* Tailwind mt-10 */
}
h1 {
  font-size: 1.875rem;      /* Tailwind text-3xl */
  line-height: 2.25rem;
  color: #fff;   
}           /* Tailwind text-white */
h2 {
  font-size: 1.5rem;        /* Tailwind text-2xl */
  line-height: 2rem;
  color: #3b82f6;  
}         /* Tailwind text-blue-500 */
h3 {
  font-size: 1.25rem;       /* Tailwind text-xl */
  line-height: 1.75rem;
  color: #fff;   
}           /* Tailwind text-white */
p {
  color: #fff;              /* Tailwind text-white */
  margin-top: 1.25rem;      /* Tailwind my-5 */
  margin-bottom: 1.25rem;
}
a {
  color: #3b82f6;           /* Tailwind text-blue-500 */
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}